* {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style-type: none;
}

.page {
    width: 100%;
    /* height: 100vh; */
    background-color: #fff;
    overflow: hidden;
}

.sub-header {
    width: 100%;
    height: 1.33rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    justify-content: space-between;
    padding: 0 .133rem;
    box-sizing: border-box;
}

.sub-header .back {
    width: 1.06rem;
    height: 1.06rem;
    background-image: url(../../images/home/goods/back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.sub-header .title {
    width: 79%;
    height: auto;
    font-size: 0.426rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sub-header .right-btn {
    width: auto;
    height: auto;
    font-size: 0.426rem;
}

.main {
    width: 100%;
    margin-top: 1.36rem;
}

.main ul.head {
    width: 100%;
    height: 1.6rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main ul.head li:first-child {
    font-size: 0.373rem;
    margin-left: 5%;
}

.main ul.head li:nth-child(2) {
    width: 1.33rem;
    height: 1.33rem;
    margin-right: 10%;
    position: relative;
    z-index: 1;
}

.main ul.head li:nth-child(2) img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.main ul.head li:nth-child(2) input {
    width: 100%;
    height: 82%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
}

.main ul.list {
    width: 100%;
    height: 1.06rem;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.373rem;
}

.main ul.list li:first-child {
    margin-left: 5%;
}

.main ul.list li:nth-child(2) {
    width: 50%;
    height: 100%;
    margin-left: 20%;
}

.main ul.list li:nth-child(2) input {
    width: 100%;
    height: 82%;
    text-align: right;
    font-size: 0.373rem;
}

button,
input,
textarea {
    color: inherit;
    font: inherit;
}

button,
input {
    border: 0 none;
    border-radius: 0;
    outline: none;
}

.main ul.list li.arrow {
    width: 0.533rem;
    height: 0.533rem;
    background-image: url(../../images/common/right_arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 3%;
}

/* 验证通知 开始 */
.van-toast--html,
.van-toast--text {
    width: fit-content;
    min-width: 96px;
    min-height: unset;
    padding: 8px 12px;
}

.van-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(50, 50, 51, .88);
    border-radius: 4px;
    transform: translate3d(-50%, -50%, 0);
}

/* 验证通知 结束 */